*{
    margin:0;
    padding:0;
}
nav{
    background-color: black;
    color:white;
    padding:15px;
}
li,h1,ul{
    display:inline;
    cursor: pointer;
    padding:10px;
}
ul{
    margin-left:50%;
}
li:hover{
    color:red;
}
input{
    width:60%;
    padding:15px;

}
center{
    background-color: red;
    color:blue;
    padding:10px;
    font-size: 50px;

}
.searchbar{
    padding:50px;
    text-align:center;
}
.box{
    
    display:inline-block;
    width:220px;

}
.box:hover{
    background-color: black;
    color:white;
}
.products{
    text-align:center;
}
